* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: goldenrod;
}

/* Note: "":root" acts as a baseline for the application, can store colors which can be referenced in the CSS using the code "var" instead of typing the color repeatedly. */

html {
    font-size: 70%;
    overflow-x: hidden;
}

body {
    background: var(--second-bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    flex-wrap: wrap;
    border: 1px #fff solid;
}

#home {
    margin: 20pt;
}


.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-weight: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;

}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
}

#about {
    background-color: var(bg-color);
    text-align: center;
    font-size: 14pt;
    margin-top: 50pt;
    margin-bottom: 50pt;
}

.title {
    background-color: var(--bg-color);
    text-align: center;
    font-size: 2.5rem;
    margin: 50pt;
    border: #fff solid 1pt;
}

h2 p {
    display: flex;
    justify-content: center;
    font-size: 18pt;
}

.about-me {
    font-size: 12pt;
    margin-top: 50pt;
    margin-left: 75pt;
    margin-right: 75pt;
}

.cover-photo {
    max-width: 40%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 60pt;
    flex-wrap: wrap;
}

#work {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50pt;
}

.challenge-1 {
    max-width: 75%;
    object-fit: contain;
    display: block;
    margin-top: 50pt;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: #fff solid 5pt;
}

.challenge-1:hover {
    border: goldenrod solid 5pt;
    cursor: pointer;
}

.challenge-1-title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: goldenrod;
    background-color: #fff;
    border: 2.5pt solid #fff;
    font-size: 24pt;
}

.challenge-2-title {
    position: absolute;
    top: 95%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: goldenrod;
    background-color: #fff;
    border: 2.5pt solid #fff;
    font-size: 24pt;
}

.challenge-3-title {
    position: absolute;
    top: 95%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: goldenrod;
    background-color: #fff;
    border: 2.5pt solid #fff;
    font-size: 24pt;
}

.challenge-1-title:hover,
.challenge-2-title:hover,
.challenge-3-title:hover {
    border: 2.5pt solid goldenrod;
}

h5 {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
}

.challenge-2 {
    max-width: 75%;
    object-fit: contain;
    display: block;
    margin-top: 50pt;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: #fff solid 5pt;
}

.challenge-2:hover {
    border: goldenrod solid 5pt;
    cursor: pointer;
}

#contact {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #fff;
    margin: 50pt;
    font-size: 12pt;
}

#contact:hover {
    color: goldenrod;
}

a {
    color: #fff;
}